:root {
	--main-background-color: #f1eeed;
	--container-background-color: #a3c6c4;
	--lighter-background-color: #c0d8d7;
	--deeper-blue: #4d7298;
	--space-grey: #42555c;
	--header-font: "Playfair Display", serif;
	--regular-font: Georgia, "Times New Roman", Times, serif;
}

body {
	background-color: var(--main-background-color);
	margin-top: 100px;
	font-family: var(--regular-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	font-weight: bold;
}

h2 {
	font-size: 25px;
	text-align: center;
}

nav {
	border-bottom: 1px solid var(--deeper-blue);
}
.navbar-custom {
	background-color: var(--space-grey);
}

.navbar-custom .navbar-brand,
.nav-link,
.navbar-toggler,
.navbar-toggler-icon,
.navbar-collapse,
.navbar-nav {
	color: var(--main-background-color);
}

.nav-item a:hover {
	color: var(--container-background-color);
}

.cartoon-computer {
	position: relative;
	left: 40px;
}

.header,
.personal-blurb {
	margin: 50px auto;
	padding: 40px 100px;
	background-color: var(--lighter-background-color);
	border: 1px solid var(--container-background-color);
	border-radius: 4px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.personal-photo {
	border-radius: 125px 25px 125px 25px / 100px 50px 100px 50px;
}
.btn-contact {
	background-color: var(--space-grey);
	color: var(--main-background-color);
	margin: 10px;
	border: 1px solid var(--deeper-blue);
}
.btn-contact:hover {
	border: 1px solid var(--space-grey);
	background-color: var(--lighter-background-color);
	color: black;
}

.gallery img {
	background-color: var(--container-background-color);
	padding: 3px;
	transition: all 400ms ease-in-out;
}
.gallery .img-1:hover {
	transform: translateX(100px) translateY(-50px) scale(2);
}

.gallery .img-2:hover {
	transform: translateX(50px) translateY(-50px) scale(2);
}
.gallery .img-3:hover {
	transform: translateX(-50px) translateY(-50px) scale(2);
}
.gallery .img-4:hover {
	transform: translateX(-100px) translateY(-50px) scale(2);
}

.weather-app,
.world-clock,
.hobby-project-blurb,
.passion-project-blurb {
	background: var(--lighter-background-color);
	border-radius: 4px;
}

.skill-list {
	list-style-type: none;
	display: flex;
	padding-left: 0;
}

.skill-list li {
	padding: 5px;
}
.icon-heading {
	font-size: 10px;
	display: flex;
}

.icons {
	color: black;
	padding: 3px;
	font-size: 30px;
}

.launch-links {
	padding: 10px;
	text-transform: capitalize;
	background-color: var(--space-grey);
	color: var(--main-background-color);
	border: 1px solid var(--deeper-blue);
	transition: all 150ms ease-in-out;
	margin: 10px auto;
}

.launch-links:hover {
	border: 1px solid var(--space-grey);
	background-color: var(--lighter-background-color);
	color: black;
}

.blurb-image img {
	background-color: var(--container-background-color);
	padding: 3px;
	border-radius: 4px;
}

.contact-details-container a,
.contact-details-container h4 {
	font-family: var(--regular-font);
	text-decoration: none;
	color: black;
	font-weight: normal;
	transition: all 150ms ease-in-out;
	line-height: 20px;
}

.contact-details-container a:hover {
	color: var(--space-grey);
}
#contact-details,
.personal-blurb {
	padding: 40px 30px;
}
.shecodes-link {
	text-decoration: none;
	font-style: italic;
	color: var(--deeper-blue);
}

footer {
	margin: 30px 40px;
	border-top: 1px solid var(--container-background-color);
	padding-top: 20px;
}

footer i {
	margin: 10px;
	color: black;
	font-size: 20px;
}

@media (max-width: 900px) {
	.container {
		line-height: 30px;
		padding: 0 20px 30px 20px;
	}

	.header img {
		margin-top: 20px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 25px;
	}
	.gallery img {
		display: flex;
		margin: 10px 20px 10px 0;
	}

	.gallery .img-1:hover {
		transform: none;
	}
	.gallery .img-2:hover {
		transform: none;
	}
	.gallery .img-3:hover {
		transform: none;
	}
	.gallery .img-4:hover {
		transform: none;
	}
	.cartoon-computer {
		position: static;
	}

	.blurb-image img {
		display: none;
	}
	.contact-details-container {
		line-height: 1;
		font-size: 15px;
	}

	.personal-blurb h3,
	#contact-details h3 {
		margin-top: 20px;
	}
	#contact-details {
		padding-top: 0;
	}
	footer {
		margin: 20px 30px 40px 30px;
	}
}
